asgiref==3.3.1
astroid==2.5.1
beautifulsoup4==4.9.3
Django==3.1.7
isort==5.7.0
lazy-object-proxy==1.5.2
mccabe==0.6.1
pylint==2.7.2
pytz==2021.1
selenium==3.141.0
soupsieve==2.2
sqlparse==0.4.1
toml==0.10.2
urllib3==1.26.4
wrapt==1.12.1
